extends layout

block content
  h1= title
  - var image_names=["halloween1.jpg","halloween2.jpg","halloween3.jpg","halloween4.jpg","halloween5.jpg"]
  - for(let i=0;i<3;i++){
    - let ind=Math.floor(Math.random()*5);
    img(src=`/images/${image_names[ind]}` alt=`We have halloween ${ind}` height="300px" width="300px")
  - }